# Serveur
PORT=3000
NODE_ENV=development
FRONT_ORIGIN=http://localhost:5173

# Base de données MariaDB
DB_HOST=localhost
DB_PORT=3306
DB_USER=crew
DB_PASSWORD=changeme
DB_NAME=crew_db

# JWT
JWT_SECRET=changez-moi-en-production-avec-une-longue-chaine-aleatoire
JWT_EXPIRES_IN=7d
